{% extends "layout/base.njk" %}

{% set title = "default title" %}

{% from 'header/header.njk' import header %}
{% import 'mixins/mixins.njk' as mixins %}

{% block content %}
  {{ header(header1) }}
  <p style="display: flex; align-items: center;">Lorem ipsum dolor {{ mixins.icon({width: 16, height: 16, icon: 'test'}) }}</p>
  <img src="img/qwe.avif" width="300" alt="">
  <img src="img/sldfs.avif" width="300" alt="">
  
{% endblock %}
